.header{
    margin: 1rem;
    display: flex;
    height: 4rem;
    background-color: $color-secondary;

    .logo {
        width: 2.25rem;
        height: 2.25rem;
        margin: 1rem;
    }
    .main-nav{
        width: 89%;

        ul{
            margin-top: 1rem;
            margin-right: 2rem;
            display: flex;
            justify-content: end;
            li{
                list-style: none;
                margin-left: 3rem;
            }
        }
    }
}