@import "base.scss";
@import "header.scss";

.container {
    background-color: rgb(231, 188, 188);
    width: 100%;
}

.img_container {
    display: flex;
}

.overview {
    margin-top: 2rem;
}

.content2{
    margin-top: 4rem;
    display: flex;
    background-image: url("img/bg.jpg");
}