* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}
.container {
    background-color: rgb(231, 188, 188);
    width: 100%;
}

.header{
    margin: 1rem;
    display: flex;

    .logo {
        height: 2.25rem;
        margin-left: 1rem;
    }
    .main-nav{
        width: 89%;

        ul{
            margin-top: 1rem;
            margin-right: 2rem;
            display: flex;
            justify-content: end;
            li{
                list-style: none;

                margin-left: 3rem;
            }
        }
    }

}